
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý khóa học của tôi</h2>

<div class="row">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="day">
                        @course.Dateime.ToString("dd")
                    </div>
                    <div class="month">
                        @course.Dateime.ToString("MM")
                    </div>
                    <div class="year">
                        @course.Dateime.ToString("yyyy")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @course.Name
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                </div>
                <div class="btn-default">
                    <a href="@Url.Action("Edit","Courses", new {id = @course.Id })">Edit</a>
                    <a href="@Url.Action("Delete","Courses", new {id = @course.Id })">Delete</a>
                </div>
            </li>
        }
    </ul>
</div>

